body {
	background-color: #8d8d8d;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Russo One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.volume-slider {
	width: 100%;
}
[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
}

[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 2px 2px 2px #222, 0 0 2px #2f2f2f;
	background: #424242;
	border: 1px solid #000;
	border-radius: 0;
}
[type="range"]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
	border: 0 solid #fff;
	height: 25px;
	width: 8px;
	border-radius: 0;
	background: blue;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -11px;
}
[type="range"]:focus::-webkit-slider-runnable-track {
	background: #4f4f4f;
}
.drum-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 25px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 24px;
	left: 4px;
	bottom: 4px;
	background-color: #0000ff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #000000;
}

input:focus + .slider {
	box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

#details {
	width: 200px;
	background-color: gray;
	margin: 0.9375rem;
	padding: 0.9375rem;
	box-sizing: border-box;
	height: 49.2px;
}
@media only screen and (max-width: 768px){
	.container{
		width: 80%;
		padding: 1rem;
	}
	.home-page{
		flex-direction: column;
		gap: 2rem;
	}
	.homepage-one{
		width: 80%;
		justify-content: center;
		margin: 0 auto;
	}
	.drum-controls{
		width: 80%;
		margin: 0 auto;
	}
	.volume-slider{
		width: 80%;
	}
}
@media only screen and (max-width: 568px){
	.drum-pad{
		width: 6rem;
		height: 5rem;
	}
	.container{
		width: 70%;
	}
	.homepage-one{
		width: 100%;
	}
}
@media only screen and (max-width: 480px){
	.drum-pad{
		width: 5rem;
		height: 4rem;
	}
}
@media only screen and (max-width: 425px){
	.drum-pad{
		width: 4rem;
		height: 3rem;
	}
}
@media only screen and (max-width: 376px){
	.container{
		padding: 0.5rem;
		min-width: 250px;
	}
}